.game-container{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 2px
}

.game-grid {
    border-color: black;
}

td {
    width: 45px;
    height: 45px;
    border-width: 0.125rem;
    border-color: black;
    text-align: center;
}

.grid-container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}